@* @{
    ViewBag.Title = "Mostrar Resultados";
    var predicciones = ViewBag.Predicciones as List<MLNetProyecto.Entidades.EF.ImagePrediction>;
}

<style>
    .thumbnail {
        position: relative;
        display: inline-block;
        cursor: pointer; /* Cambia el cursor a pointer */
        color: blue; /* Cambia el color del texto a azul */
        text-decoration: underline; /* Subraya el texto */
    }

        .thumbnail img {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            width: 200px; /* Tamaño de la miniatura */
            z-index: 10;
        }

        .thumbnail:hover img {
            display: block;
        }
</style>

<div>
    <h2>Mostrar Resultados</h2>
    <table class="table">
        <thead>
            <tr>
                <th>FileName</th>
                <th>Clasificación Predicha</th>
                <th>Predicción Acertada</th>
                <th>Clasificación Real</th>
                <th>Probabilidad</th>
            </tr>
        </thead>
        <tbody>
            @if (predicciones != null)
            {
                foreach (var item in predicciones)
                {
                    <tr>
                        <td class="thumbnail">
                            @item.ImageData.FileName
                            <img src="data:image/jpeg;base64,@item.ImageData.ImagePath" alt="Imagen Analizada" />
                        </td>
                        <td>
                            @item.PredictedLabelValue
                        </td>
                        <td>
                            @((bool)item.IsCorrect ? "Sí" : "No")
                        </td>
                        <td>
                            @item.ImageData.Label
                        </td>
                        <td>
                            @item.Score
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div> *@

@{
    ViewBag.Title = "Mostrar Resultados";
    var predicciones = ViewBag.Predicciones as List<MLNetProyecto.Entidades.EF.ImagePrediction>;
}

<style>
    .thumbnail {
        position: relative;
        display: inline-block;
        cursor: pointer; /* Cambia el cursor a pointer */
        color: blue; /* Cambia el color del texto a azul */
        text-decoration: underline; /* Subraya el texto */
    }

        .thumbnail img {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            width: 200px; /* Tamaño de la miniatura */
            z-index: 10;
        }

        .thumbnail:hover img {
            display: block;
        }
</style>

<div>
    <h2>Mostrar Resultados</h2>
    <table class="table">
        <thead>
            <tr>
                <th>FileName</th>
                <th>Clasificación Predicha</th>
                <th>Predicción Acertada</th>
                <th>Clasificación Real</th>
                <th>Probabilidad</th>
            </tr>
        </thead>
        <tbody>
            @if (predicciones != null)
            {
                foreach (var item in predicciones)
                {
                    <tr>
                        <td class="thumbnail">
                            @item.ImageData.FileName
                            <img src="data:image/jpeg;base64,@item.ImageData.ImagePath" alt="Imagen Analizada" />
                        </td>
                        <td>
                            @item.PredictedLabelValue
                        </td>
                        <td>
                            @(item.IsCorrect.HasValue ? (item.IsCorrect.Value ? "Sí" : "No") : "Sin Verificar")
                        </td>
                        <td>
                            @item.ImageData.Label
                        </td>
                        <td>
                            @item.Score
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
