@model MLNetMVC.Data.VM.ImagePredictionVM
@{
    ViewBag.Title = "Analizar Imagen";
}

<div>
    <h2>Analizar Imagen</h2>
    <form method="post" enctype="multipart/form-data" asp-action="AnalizarImagen">
        <div class="form-group">
            <label for="imagen">Imagen</label>
            <input type="file" class="form-control-file" id="imagen" name="ImageFile" accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Analizar</button>
    </form>
    <br />
    <div>
        @if (Model != null)
        {
            <h3>Resultados</h3>
            <div>
                <img src="data:image/jpeg;base64,@Model.ImagePath" alt="Imagen Analizada" />
            </div>
            <div>
                <h4>Clasificación</h4>
                <p>@Model.PredictedLabelValue</p>
            </div>
            <div>
                <h4>Probabilidad</h4>
                <p>@Model.Score?.Max()</p>
            </div>
            <div>
                <form method="post" asp-action="AgregarElemento">
                    <input type="hidden" name="ImagePath" value="@Model.ImagePath" />
                    <input type="hidden" name="Score" value="@Model.Score?.Max()" />
                    <input type="hidden" name="PredictedLabelValue" value="@Model.PredictedLabelValue" />
                    <button type="submit" class="btn btn-primary">Es Correcto</button>
                </form>
                <form method="post" asp-action="CorregirElementoView">
                    <input type="hidden" name="ImagePath" value="@Model.ImagePath" />
                    <button type="submit" class="btn btn-secondary">No es Correcto</button>
                </form>
            </div>
        }
    </div>
</div>
